@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;800&family=Poppins:wght@100;200;300;400;500&display=swap');

@font-face {
  font-family: Bouncehouse Regular;
  src: url('assets/bouncehouse-regular.otf') format('opentype');
}

/* Color Variables */
:root {
  --dark: #1a1521;
  --light: #fbfbfb;
  --accent: #e8e0f5;
  --dark-accent:#46365e;
  --primary: #763fd4;

  --dark-mode-font: var(--light);
  --dark-mode-background: var(--dark);
  --dark-blob: var(--dark-accent);

  --light-mode-font: var(--primary);
  --light-mode-background: var(--light);
  --light-blob: var(--accent);
}

/* Light mode styling */
body[theme=light] {
  background-color: var(--light-mode-background);
  color: var(--light-mode-font);
}
body[theme=light] h1.heading {
  -webkit-text-stroke: 2px var(--primary);
}
body[theme=light] .blob path{
  fill: var(--light-blob)
}
body[theme=light] .btn:hover {
  background: var(--primary);
  color: var(--light);
}

/* Dark mode styling */
body[theme=dark] {
  background-color: var(--dark-mode-background);
  color: var(--dark-mode-font)
}
body[theme=dark] h1.heading {
  -webkit-text-stroke: 2px var(--dark-mode-font);
}
body[theme=dark] .plants path {
  fill: var(--dark-mode-font)
}
body[theme=dark] .blob path{
  fill: var(--dark-blob);
}
body[theme=dark] .btn:hover {
  background: var(--light);
  color: var(--primary);
}

/* General Formatting/Styling */
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 18px;
  overflow-x: hidden;
  overscroll-behavior-y: none;
  transition: 0.1s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/* Typography/header Styling */
a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

h1, h2, h3 {
  font-family: 'Bouncehouse Regular', sans-serif;
  text-transform: uppercase;
}

h1.heading {
  font-size: 12em;
  -webkit-text-stroke: 2px var(--primary);
  color: transparent;
}

h2 {
  font-size: 3em;
  letter-spacing: 5px;
  text-shadow: 1px 1px 20px rgba(255,255,255,0.5);
}

h2.sub-heading{
  font-size: 1.5em;
  font-family: 'Poppins';
  font-weight: 300;
  text-transform: initial;
}

/* Button Styling */
.btn {
  border: 1px solid;
  padding: .75em 1.25em;
  border-radius: 30px;
  margin-top: 1em;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  transition: all .2s ease-in;
}


/* Navigation Styling */
nav{
  padding: 1.5em;
  font-size: 1.25em;
  position: fixed;
  width: 100%;
}

nav ul{
  list-style: none;
  display: flex;
  align-items: center;
}

nav ul li {
  margin-right: 2em
}

nav .moon-container {
  position: relative;
  flex-grow: 1;
  text-align: right;
  font-size: 2em;
  margin-right: 0em;
}

nav a {
  text-decoration: none;
  padding-bottom: 10px;
  color: inherit;
  font-weight: 300;
}

nav a:hover {
  border-bottom: 1px solid var(--primary);
  mix-blend-mode: difference;
}

/* Section Styling */
section {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

section p {
  max-width: 700px;
  margin-top: 1em;
  text-align: initial
}

#about {
  display: flex;
  flex-direction: row;
}

#about .content {
  margin: 1em;
}


/* Social Icons Styling */
.socials {
  list-style: none;
  display: flex;
  margin-top: 1em;
}

.socials li {
  margin: 0 0.5em;
}

.socials li a i {
  transition: transform 0.2s ease-in-out;
}

.socials li a:hover i {
  transform: scale(1.5);
}

/* Lightbox */
.light-box {
  background: rgba(0, 0, 0, 0.5);
  padding: 2em;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
}

.light-box:target {
  display: block;
}

.light-box span {
  display: block;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* Extra Elements */
.leaf {
  position: absolute;
  left: -15%;
  bottom: -45%;
}

.flower {
  position: absolute;
  right: -10%;
  bottom: -45%;
}

.plants path{
  fill: var(--primary);
}
.bio-pic {
  margin-left: 2em;
}

.fas.fa-moon {
  text-shadow: 1px 1px 20px var(--light);
}
.blob {
  position: absolute;
  z-index: -1;
}
.blob path {
  fill: var(--accent);
}

.helper {
  font-size: 0.3em;
  position: absolute;
  right: 60px;
  top: 20px;
  padding: 0.2em 0.7em;
  border: 1px solid;
  border-radius: 30px;
	animation: fadeInOut 1s ease-in-out 5;
  opacity: 0;
}

#light-switch {
  cursor: pointer;
}

#to-top {
  margin-top: 10em;
  padding: 1em 2em;
  border-radius: 300px;
}

/* Animations */
@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5
  }
  100% {
    opacity: 0
  }
}

.float {
	animation: float 5s ease-in-out infinite;
}

/* Some Responsiveness */
@media (max-width: 1400px){
  h1.heading {
    font-size: 9em;
  }
}
@media (max-width: 800px){
  body {
    font-size: 14px;
  }
  h1.heading {
    font-size: 5em;
  }
  h2.sub-heading {
    font-size: 1.2em;
    letter-spacing: 0;
  }
  #about {
    display: unset;
  }
  .flower, .leaf {
    display: none;
  }
  .float {
    animation: none;
  }
  section:nth-of-type(2) .blob{
    display: none;
  }
}


